{% extends 'template.html' %}

{% block titulo %}Grupo de Contatos{% endblock titulo %}

{% block modal %}
{% for grupoContatos in gruposContatos %}
<!-- MODAL EXCLUIR -->
<div class="modal fade" tabindex="-1" id="modalExcluir{{ grupoContatos.id }}" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-trash-fill"></i> Confimar exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="p-modalExcluir">Tem certeza que deseja excluir o grupo<br>{{ grupoContatos.titulo }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger">
                    <a id="texto-btn-excluir" href="{% url 'grupoContatos_delete' grupoContatos.id %}">Sim, excluir</a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock modal %}


{% block main %}

<div id="grupoContatos">
    <div id="divTituloGrupoContatos">
        <h2>Grupo de Contatos</h2>
        <a href="{% url 'grupoContatos_add' %}" id="adcNovoGrupo">Adicionar novo grupo</a>
    </div>
    {% for grupoContatos in gruposContatos %}
    <div id="containerGrupo">
        <h5>{{grupoContatos.titulo}}</h5>
        <p>Descrição: {{grupoContatos.descricao}}</p>
        <button type="button" class="btn btn-warning">
            <a href="{% url 'grupoContatos_edit' grupoContatos.id %}">Editar</a>
        </button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#modalExcluir{{ grupoContatos.id }}">
            <a>Deletar</a>
        </button>
        <hr>
    </div>

    {% endfor %}
</div>

{% endblock main %}